.add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to right, rgba(180, 3, 153, 0.886),rgb(68, 147, 221));
    height: 10%;

    div:first-child{
        color: white;
        span{
            font-size: 13px;
            padding: 10px 0;
        }
        p{
            font-size: 17px;
        }
    }

    div:last-child{
        button{
            background-color: white;
            border: none;
            border-radius: 30px;
            padding: 15px 25px;
            font-size: 17px;
        }
    }
}