.all{
    background-color: black;
    height: 100vh;

    .main{
        display: flex;
        color: white;
        padding-bottom: 0.625rem;
        height: 91.5vh;
        padding: 0.5rem;

        app-playlists{
            background-color: rgb(32, 31, 31);
            width: 100%;
            
            overflow: scroll;
            border-radius: 0.625rem;
        }
    }

}