$grey-text-color: rgb(149, 146, 146);
$info-box-bg-color: rgb(20 20 20);
$white: #fff;

@mixin info-box() {
    background-color: $info-box-bg-color;
    padding: 0.75rem 0.5rem;
    border-radius: 0.313rem;
}

@mixin mini-info-box() {
    background-color: rgb(37 37 37);
    padding: 0.938rem 1.125rem;
    border-radius: 0.313rem;
    margin-bottom: 0.625rem;

    p,
    small {
        padding-bottom: 0.5rem;
    }

    p{
        margin: 0;
    }

    small {
        display: block;
    }
}

@mixin tooltip() {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    color: white;
    background-color: rgb(74 72 72 / 67%);
    font-size: 0.875rem;
    border-radius: 0.313rem;
    padding: 0.313rem;
}

@mixin hovered-tooltip() {
    opacity: 1;
    visibility: visible;
    transition: .5s;
}